audio {
  width: 100%;
  outline: none;
}

#tracklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  overflow-y: scroll;
  padding: 10px;
}

#playlist input[type='radio'] {
  position: fixed;
  width: 0;
}

#playlist input[type='radio']:checked + label {
  color: firebrick !important;
}

#playlist label {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  font-style: italic;
  text-decoration: none;
}
