html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --dark-bg-color: #26272b;
  --light-bg-color: #737373;
  --header-height: 80px;
}

.content {
  padding: var(--header-height) 20px 20px 20px;
  flex: 1 0 auto;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
